<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KR7HWJCD');</script>
  <!-- End Google Tag Manager -->

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Arthur Kurto | {{ title }}</title>
  <meta name="description" content="{{ description }}" />
  <meta name="robots" content="index, follow">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Arthur Kurto | {{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ site.domain }}/assets/img/og-image.webp">
  <meta property="og:url" content="{{ site.domain }}{{ page.url }}">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Arthur Kurto | {{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ site.domain }}/assets/img/og-image.webp">

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="/assets/favicons/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/assets/favicons/android-chrome-512x512.png">
  <link rel="manifest" href="/assets/favicons/site.webmanifest">

  <script src="https://kit.fontawesome.com/c1b39fa0dc.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/output.css">
</head>

<body class="bg-bg overflow-hidden">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KR7HWJCD"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="bg-secondary max-w-360 mx-auto h-screen sm:h-[calc(100vh-2rem)] sm:my-4 flex flex-col sm:flex-row">

    {% include "partials/sidebar.njk" %}
    {% include "partials/mobileNav.njk" %}

    <main class="flex-1 pt-26 sm:pt-12 px-4 sm:px-8 pb-4 flex flex-col overflow-y-auto" style="-webkit-scrollbar: none; scrollbar-width: none;">
      {{ content | safe }}
      {% include "partials/footer.njk" %}
    </main>

    {% include "partials/navMenu.njk" %}
  </div>

  <script src="/assets/js/index.js"></script>
</body>
</html>