<!-- Footer -->
<footer class="bg-card px-8 py-4 mt-6 sm:mt-12 flex flex-col sm:flex-row justify-between items-center">
  <p class="text-stone-400 text-sm">&copy; 2025 All Rights Reserved</p>
  <p class="hidden sm:block text-stone-400 text-sm">Arthur Kurto &nbsp; | &nbsp; +44 7776533224 &nbsp; | &nbsp; arthur.kurto@gmail.com</p>
  <p class="sm:hidden text-stone-400 text-sm">Arthur Kurto</p>
  <p class="sm:hidden text-stone-400 text-sm">+44 7776533224</p>
  <p class="sm:hidden text-stone-400 text-sm">arthur.kurto@gmail.com</p>
</footer>