<!-- Mobile Navigation -->
<nav class="sm:hidden fixed w-screen bg-sidebar h-18 shadow-lg flex justify-between items-center px-6">
  <div>
    <i class="fa-solid fa-ellipsis-vertical text-stone-400 text-xl hover:text-stone-100 transition-all duration-500" onclick="toggleSidebar()"></i>
  </div>
  <div>
    <i class="fa-solid fa-bars text-stone-400 text-xl hover:text-stone-100 transition-all duration-500" onclick="toggleMobileMenu()"></i>
  </div>
</nav>